html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F6F3;
  font-family: 'Montserrat', sans-serif;
}

.wrapper-registro {
  display: flex;
  height: 100vh;
}

.area-registro {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-registro {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #2E8B57; 
  margin-bottom: 20px;
  text-align: center;
}

.grupo-campos-registro {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.formulario-registro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grupo-campos-registro input {
  background: #EFEFEF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #4B626C;
  padding: 12px 15px;
  width: 100%;
  outline: none;
}

.grupo-botao-registro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.botao-confirmar-registro {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #2E8B57;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.botao-confirmar-registro:hover {
  transform: scale(1.1);
}

.links-registro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
  padding-left: 95px;
}

.links-registro a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #A0A0A0;
  text-decoration: none;
}

.links-registro a:hover {
  text-decoration: underline;
}

.area-imagem-registro {
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.img-registro {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
}

.mensagem-erro-registro {
  color: #2E8B57;
  font-size: 20px;
  margin-top: 5px;
}

/* Ajuste para telas menores */
@media(max-width: 1024px) {
  .wrapper-registro {
    flex-direction: column;
  }

  .area-imagem-registro {
    order: -1;
    width: 100%;
    height: 50vh;
  }

  .img-registro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .area-registro {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .grupo-campos-registro {
    width: 90%;
    margin: 20px auto;
  }

  .titulo-registro {
    font-size: 48px;
  }

  .formulario-registro input {
    font-size: 18px;
  }

  .links-registro {
    margin-bottom: 50px;
    align-items: center;
    padding-left: 0;
  }

  .links-registro a {
    font-size: 16px;
  }

  .botao-confirmar-registro {
    width: 40px;
    font-size: 24px;
  }

  .formulario-registro {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper-registro {
    flex-direction: column;
    height: auto;
  }

  .area-registro {
    flex: none;
    width: 100%;
    padding: 20px;
    align-self: center;
  }

  .titulo-registro {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }

  .grupo-campos-registro {
    width: 100%;
    gap: 15px;
  }

  .grupo-campos-registro input {
    font-size: 16px;
    padding: 12px;
  }

  .grupo-botao-registro {
    justify-content: center;
  }

  .botao-confirmar-registro {
    font-size: 22px;
    width: 45px;
    height: 45px;
  }

  .links-registro {
    position: static;
    margin-top: 20px;
    align-items: center;
    padding-left: 0;
  }

  .area-imagem-registro {
    flex: none;
    height: auto;
    align-self: center;
    margin-right: 30%;
    margin-top: 15%;
  }

  .img-registro {
    width: auto;
    height: auto;
    object-fit: cover;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .titulo-registro {
    font-size: 28px;
  }

  .grupo-campos-registro input {
    font-size: 14px;
  }

  .botao-confirmar-registro {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  .area-imagem-registro {
    height: auto;
    margin-top: 15%;
    margin-right: 30%;
  }

  .img-registro {
    width: auto;
    height: auto;
    object-fit: cover;
    align-self: center;
  }
}
