.wrapper-login {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.area-login {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.titulo-login {
  font-weight: 300;
  font-size: 64px;
  color: #4B626C;
  margin-bottom: 40px;
}

.grupo-campos {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grupo-campos input {
  background: #F7F7F9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  border: none;
  padding: 15px;
  font-size: 18px;
  color: #4B626C;
  outline: none;
}

.grupo-botao {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.botao-confirmar {
  background: transparent;
  border: none;
  font-size: 28px;
  color: #4B626C;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.botao-confirmar:hover {
  transform: scale(1.1);
}

.links-login {
  position: fixed;
  bottom: 20px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.links-login a {
  color: #A0A0A0;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.links-login a:hover {
  text-decoration: underline;
}

.area-imagem-login {
  flex: 0.5; 
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.img-login {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
